<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome To CRUD Restaurant</h1>
        <p><b>This is This is single page application where you can Add data, Edit data, Get data, Delete Data</b></p>
        <p><a class="btn btn-primary btn-lg" routerLink="list" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>JSON SERVER</h2>
          <p>JSON Server is a simple project that helps you to setup a REST API with CRUD operations very fast.</p>
          <p><a class="btn btn-primary" href="https://www.npmjs.com/package/json-server" target="_blank" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>ANGULAR</h2>
          <p>Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.</p>
          <p><a class="btn btn-primary" href="https://angular.io/" target="_blank" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>BOOTSTRAP 4.6</h2>
          <p>Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
          <p><a class="btn btn-primary"  href="https://getbootstrap.com/" target="_blank" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
    </div> <!-- /container -->
  
  </main>
  <br><br>